html, body{
    margin: 0px;
    background: #212121;
}

input:focus, textarea:focus, button:focus{
    outline: none;
}

#gameArea{

    background: #212121;
    width: 100vw;
    height: 100vh;
}

/*
    Temporary Styles: Begin
*/

#join-screen{
    
}

#host-screen{
    display: none;
}

#thing-screen{
    display: none;
}

#things-screen{
    display: none;
}

#player-screen{
    display: none;
}


/*
    Temporary Styles: End
*/


.card-center{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.label{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: large;
}

#join-button{
    background: #141414;
    width: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin-top: 30px;
    right: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.fake-link{
    text-decoration: underline;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#hostthing{
    position: absolute;
    bottom: 0px;
    margin: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.input{
    background: #141414;
    border: none;
    height: 30px;
    width: 250px;
    padding: 5px;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


#host-screen{
    /*display: grid;*/
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#players{
    grid-row: span 2 / auto;

}

#join-info{
    background: #141414;
    grid-column: span 2 / auto;
    overflow: hidden;
    height: 50vh;
    position: relative;
}

#start-game{
    background: #141414;
    grid-column: span 2 / auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 30px;
    font-size: 50px;
}

ul{
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 30px;
    padding-top: 15px;
    margin: 0;
}

li{
    width: fit-content;
    padding: 7px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#phone{
    width: 250px;
    right: 0px;
    top: 0;
    margin: 60px;
    position: absolute;
}

#explainer{
    margin: 30px;
    width: 500px;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

#start-button{
    width: 50%;
    text-align: center;
    cursor: pointer;
}

#thing-screen{
    width: 100vw;
    height: 100vh;
}

#thing-card{
    background: #141414;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#control-buttons{
    position: absolute;
    bottom: 30px;
}

#control-buttons > svg{
    padding: 20px;
    cursor: pointer;
}

#things-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.answer{
    line-height: .7; 
    width: 400px;
    overflow-wrap: break-word;
}

.answer span{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 7px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    cursor: pointer;
}

#thing-results{
    text-align: center;
    font-size: 35px;
}

#responses{
    display: flex;
    flex-wrap: wrap;
}

#thing-card-player{
    background: #141414;
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#thing-player{
    font-size: 25px;
}

#player-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

textarea{
    /*This has been moved inline*/
}

#count{
    font-size: 25px;
    display: none;
    
}

#waiting{
    font-size: 25px;
}

/* Old stuff */




#thing-id-input{
    width: 50vmin;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}
#thing-id-input-box, #username-input-box{
    border-radius: 10vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
}


#submit-id{
    text-align: center;
    margin-top: 20px;
    height: 30px;
    margin-bottom: 20px;
}

#submit-thing-id:hover{
    background-color: white;
}

#join-card{
    width: 85vmin;
    z-index: 10;
}

#title{
    font-size: 7vmin;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 6vmin;
    text-align: center;
}
#host-a-thing{
    color: #448afc;
    text-align: center;

}


.flex-container{
    display: none;
    flex-wrap: wrap;
}

.flex-container > div{
    margin: 10px;
}

#hostscreen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

#hosttopbar{
    width: 100vw;
    background-color: #00000042;
    position: absolute;
    top: 0px;
    text-align: center;
}

.flex-container-host{
    display: flex;
    margin-top: 15vh;
    padding: 10px;
    flex-wrap: wrap;
}

.flex-container-host > div{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    max-width: 150px;
    min-width: 100px;
    max-height: 50vh;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.301);
    font-size: 20px;
}

#playerscreen{
    display: none;
}

#playerresponseinputbox{
    width: 75vw;
    min-height: 75vh;
    background-color: #00000042;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    resize: none;
    border-radius: 25px;
    padding: 25px;
}

.playerresponse{
    text-align: center;
}

#submitresponse{
    position: absolute;
    bottom: 0px;
    margin: 0px;
    left: 0px;
    background-color: #448afc;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 10vh;
    width: 100vw;
    text-align: center;
    cursor: pointer;
}

#submitresponsetext{
    margin: 0px;
    font-weight: 600;
}

#revealresponses{
    width: 50%;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    left: 0px;
    background-color: #448afc;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

#newthing{
    width: 50%;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    right: 0px;
    background-color: coral;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

#playerresponsecount{
    display: none;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}
